:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #111;
  background-color: #f6f7fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* ✅ 중앙정렬 flex 제거 */
  display: block;
}

button {
  font-family: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
